session
del/
.vscode/
.zed/
*.vim
sess
__pycache__/

*.exe
del*
~/
.vim/
del/
build/
*.out
*.o
*.vim


#exclusions for compressed files
*.rar
*.7z
*.bz2
*.xz
*.zip
*.exe
*.tar.gz

#exclusions for multimedia files, audio and video files

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma

#exclusions for executables and binaries
exec/
*.bat
*.cmd
*.sh
*.bin
*.dll
*.so
*.dylib
*.app
*.deb
*.rpm
*.msi
*.apk
*.ipa

#others
*.ini

#---------------------- python related projects ----------------
# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtualenv
# virtualenv
.venv/
venv/

# PyInstaller
# PyInstaller creates a dist/ folder and other files
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
*.cover
nosetests.xml
coverage.xml
*.hypothesis/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Python type checking
.mypy_cache/
.pytype/

# Pytest
.cache/

# ----------------- golang project related -----------------------------
vendor/
webserver/
del*.*
del*
*~
*out

# Go binaries
/bin/
/obj/

# Go workspace
/vendor/

# Go IDE settings
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Go test result
*.test

# Go coverage reports
*.cov
*.out

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go cache
*.go.cache/

# Go modules
go.sum


